VAPI_PRIVATE_KEY=<your-vapi-private-key>
VAPI_PUBLIC_KEY=<your-vapi-public-key>
VAPI_ASSISTANT_ID=<your-vapi-assistant-id>
VAPI_CLI_KEY=<your-vapi-cli-key>
SIP_SERVER=sip.suii.us:5060
SIP_USERNAME=<your-sip-username>
SIP_PASSWORD=<your-sip-password>
CALLER_ID=
